<%= form_with scope: :question, model: @question, class: 'container', local: true do |f| %>
  <div class="row mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="row mb-3">
    <div class="col d-flex justify-content-end">
      <%= link_to 'Cancel', { controller: 'consultations', action: 'edit', id: @question.consultation_id }, class: 'btn btn-link link-danger' %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>