<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong>Preguntes</strong>
    <% if @current_user.admin? %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to 'Crear', new_question_option_path(question_id: @question), class: 'nav-link p-0 text-decoration-underline' %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Descripció</td>
          <td>Valor</td>
          <td colspan="2"></td>
        </tr>
      </thead>
      <% @question.options.each do |option| %>
      <tr>
        <td><%= option.description %></td>
        <td><%= option.value %></td>
        <td><%= link_to 'Editar', edit_question_option_url(option)  %></td>
        <td><%= button_to 'Eliminar', question_option_path(@question, option), method: :delete, class: 'btn btn-link py-0 link-danger' %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>