<%= form_with scope: :vote, url: { controller: :votes, action: :create }, local: true do |f| %>
  <table class="table table-hover table-borderless">
    <tbody>
      <% @question.options.each_key do |key| %>
        <tr>
          <td>
            <div class="form-check form-control-lg m-3 ml-0">
              <%= f.radio_button :value, key, class: 'form-check-input', disabled: @question.draft? %>
              <%= f.label @question.options[key], for: "vote_value_#{key}", class: 'form-check-label' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.hidden_field :question_id, value: @question.id %>
  <% unless @question.draft? %>
    <%= f.submit 'Votar', class: 'btn btn-primary' %>
  <% end %>
<% end %>