<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong><%= t('activerecord.models.option', count: 2) %></strong>
    <% if @current_user.admin? %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to t('application.create'), new_consultation_question_option_path(question_id: @question), class: 'nav-link p-0 text-decoration-underline' %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.option.description') %></td>
          <td><%= t('activerecord.attributes.option.value') %></td>
          <td colspan="2"></td>
        </tr>
      </thead>
      <% @question.options.each do |option| %>
      <tr>
        <td><%= option.description %></td>
        <td><%= option.value %></td>
        <td><%= link_to t('application.edit'), edit_consultation_question_option_url(@question, option) %></td>
        <td><%= button_to t('application.delete'), consultation_question_option_path(@question, option), method: :delete, class: 'btn btn-link py-0 link-danger' %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>