<h2><%= @question.consultation.title %></h2>
<% if @question.description %>
  <div class="mb-3">
    <%= raw(@question.description) %>
  </div>
<% end %>
<table class="table table-hover">
  <tbody>
    <% @question.options.each do |option| %>
      <tr>
        <td>
          <%= option.description %>
        </td>
        <td>
          <%= @results[option.value] || 0 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Enrere', :back %>