<h2><%= @consultation.title %></h2>
<% if @question.description %>
  <div class="mb-3">
    <%= raw(@question.description) %>
  </div>
<% end %>
<table class="table table-hover">
  <tbody>
    <%= render "questions/ballot/#{@consultation.ballot}" %>
  </tbody>
</table>
<% if @consultation.ballot == 'open' %>
  <h3>Results</h3>
  <table class="table table-hover">
    <tbody>
      <%= render 'questions/ballot/secret' %>
    </tbody>
  </table>
<% end %>
<%= link_to 'Back', :back %>