<div class="m-auto col-md-6">
  <% if Rails.configuration.x.asembleo.logo_url %>
    <div class="col-12 text-center mb-3">
      <img src="<%= Rails.configuration.x.asembleo.logo_url %>" alt="Logo" width="256">
    </div>
  <% end %>
  <%= form_with scope: :session, url: sessions_path, class: 'row g-2', local: true do |f| %>
    <div class="col-12">
      <%= f.password_field :identifier, class: 'form-control form-control-lg', autofocus: '', autocomplete: 'off', placeholder: Rails.configuration.x.asembleo.token_alias.present? ? Rails.configuration.x.asembleo.token_alias : t('activerecord.models.token', count: 1) %>
    </div>
    <div class="col-12">
      <%= f.submit t('application.log_in'), class: 'btn btn-primary btn-lg w-100' %>
    </div>
  <% end %>
  <div class="row justify-content-end">
    <div class="col-auto">
      <% if Rails.configuration.x.asembleo.private_instance %>
        <%= link_to t('sessions.log_in_as_admin'), new_session_path, class: 'btn btn-link link-secondary btn-sm p-0 m-1' %>
      <% else %>
        <%= link_to t('consultations.consultation_create'), new_consultation_path, class: 'btn btn-link link-secondary btn-sm p-0 m-1' %>
      <% end %>
      <% if Rails.configuration.x.asembleo.open_registration %>
        <%= link_to t('users.voter_sign_up'), new_user_path, class: 'btn btn-link link-secondary btn-sm p-0 m-1' %>
      <% end %>
    </div>
  </div>
</div>