<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong><%= t('question_groups.group', count: 2) %></strong>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><%= t('activerecord.attributes.question_group.id') %></th>
          <th scope="col"><%= t('question_groups.grouped_questions') %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.order(:id).each do |group| %>
          <tr>
            <td><%= group.id %></td>
            <td><%= group.questions.order(:id).map(&:id).join(', ') %></td>
            <td><%= link_to t('application.edit'), edit_consultation_question_group_path(id: group.id) %></td>
            <td><%= link_to t('application.delete'), consultation_question_group_path(id: group.id), method: :delete, data: { confirm: t('application.confirm') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>