<div class="card mt-3">
  <%= form_with scope: :question_group, url: consultation_question_groups_path, local: true do |f| %>
    <div class="card-header d-flex justify-content-between">
      <strong><%= t('activerecord.models.question', count: 2) %></strong>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= f.submit t('application.create'), class: 'btn btn-primary py-1' %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><%= t('activerecord.attributes.question.id') %></th>
            <th scope="col"><%= t('activerecord.models.question', count: 1) %></th>
          </tr>
        </thead>
        <tbody>
          <% @available_questions.order(:id).each do |question| %>
            <tr>
              <td scope="row"><%= f.check_box :question_ids, { multiple: true }, question.id, nil %></td>
              <td><%= question.id %></td>
              <td><%= markdown question.short_description, plain_text: true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>