<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong>Trobades</strong>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to 'Crear', new_event_path, class: 'nav-link p-0 text-decoration-underline' %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Títol</th>
          <th>Token gestor</th>
          <th colspan="2">
        </tr>
      <thead>
      <% @consultation.events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.manager %></td>
        <td><%= link_to 'Editar', edit_event_path(event) %></td>
        <td><%= link_to 'Eliminar',
                event_path(event),
                method: :delete,
                data: { confirm: 'Segur que vols fer-ho?' } %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>