<h2>Trobades</h2>
<nav class="nav">
  <li class="nav-item">
    <%= link_to 'Crear', new_event_path, class: 'nav-link' %>
  </li>
</nav>
<table>
  <tr>
    <th>Títol</th>
    <th>Token gestor</th>
    <th colspan="2">
  </tr>
  <% @consultation.events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.manager %></td>
    <td><%= link_to 'Editar', edit_event_path(event) %></td>
    <td><%= link_to 'Eliminar',
            event_path(event),
            method: :delete,
            data: { confirm: 'Segur que vols fer-ho?' } %></td>
  </tr>
  <% end %>
</table>