<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong>Events</strong>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to 'Create', new_event_path, class: 'nav-link p-0 text-decoration-underline' %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th colspan="2">
        </tr>
      </thead>
      <% @consultation.events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class: 'btn btn-link py-0' %></td>
        <td><%= link_to 'Delete',
                event_path(event),
                class: 'btn btn-link py-0',
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>