<%= form_with scope: :consultation, model: @consultation do |f| %>
  <div class="row mb-3">
    <%= f.label :title, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :description, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <% if @consultation.id %>
    <div class="row mb-3">
      <%= f.label :status, class: 'col-2 col-form-label' %>
      <div class="col-10">
        <%= f.select :status, Consultation.statuses.keys.to_a, {}, { class: 'form-select' } %>
      </div>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col d-flex justify-content-end">
      <%= link_to 'Cancel·lar', :back, class: 'btn btn-link text-danger' %>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>