<%= form_with scope: :consultation, model: @consultation do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :status, class: 'form-label' %>
    <%= f.select :status, Consultation.statuses.keys.to_a, class: 'form-control' %>
  </div>
  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
<% end %>