<%= form_for [@option.question, @option], class: 'container', local: true do |f| %>
  <div class="row mb-3">
    <%= f.label :value, class: 'form-label' %>
    <%= f.text_field :value, class: 'form-control' %>
  </div>
  <div class="row mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="row mb-3">
    <div class="col d-flex justify-content-end">
      <%= link_to 'Cancel·lar', { controller: 'questions', action: 'edit', id: @question.id }, class: 'btn btn-link link-danger' %>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>