<%= form_with scope: :event, model: @event, class: 'container', local: true do |f| %>
  <div class="row mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control', disabled: @current_user.manager? %>
  </div>
  <div class="row mb-3">
    <%= f.label :status, class: 'form-label' %>
    <%= f.select :status, Event.statuses.keys.to_a, {}, { class: 'form-select' } %>
  </div>
  <div class="row mb-3">
    <div class="col d-flex justify-content-end">
      <% if @current_user.admin? %>
        <%= link_to 'Cancel', :back, class: 'btn btn-link link-danger' %>
      <% end %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>