<%= form_with url: { controller: :events, action: :create_tokens, id: @event.id, multiple: true }, class: 'container', local: true do |f| %>
  <div class="row mb-3">
    <div class="form-group">
      <%= f.label :tokens, t('helpers.label.event.tokens'), for: :value, class: 'form-label' %>
      <%= f.file_field :value, class: 'form-control' %>
      <%= t('partials.or') %>
      <%= f.text_area :value_raw, class: 'form-control', rows: 5 %>
      <small class="form-text text-muted">
        <%= t('helpers.label.event.hints.value') %>
      </small>
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group">
      <%= f.hidden_field :aliased, value: @event.consultation.config.alias != 'none' %>
      <div class="form-check">
        <%= f.check_box :send, class: 'form-check-input', checked: @event.consultation.config.distribution == 'email' %>
        <%= f.label :send, t('helpers.label.event.send'), class: 'form-check-label' %>
        <small class="form-text text-muted">
          <%= t('helpers.label.event.hints.send') %>
        </small>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col d-flex justify-content-end">
      <%= f.submit t('application.upload'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>