<div class="container">
  <h3><%= t('questions.question_results') %></h3>
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <tbody>
          <% @question.options.each do |option| %>
          <tr>
            <td>
              <%= option.description %>
            </td>
            <td>
              <%= @results[option.value] || 0 %>
            </td>
            <td>
              <%= (((@results[option.value] || 0) / (@results['_meta']['total_votes'] || 1)) * 100.0).round(2) %>%
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <h4><%= t('stats.title') %></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <%= t('stats.census') %>
            </th>
            <th>
              <%= t('stats.participants') %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% if Rails.configuration.x.asembleo.open_registration %>
                <%= User.voter.enabled.count %>
              <% else %>
                <%= @consultation.tokens.enabled.voter.count %>
              <% end %>
            </td>
            <td>
              <%= @question.receipts.count %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <%= pie_chart @results['_meta']['graph'] %>
    </div>
  </div>
</div>

<% if @question.consultation.events.size > 1 %>
<% @question.consultation.events.sort.each do |event| %>
<h4><%= event.title %></h4>
<table class="table table-hover">
  <tbody>
    <% @question.options.each do |option| %>
    <tr>
      <td>
        <%= option.description %>
      </td>
      <td>
        <%= @results.dig('_meta', 'breakdown', event.id, option.value) || 0 %>
      </td>
      <td>
        <%= (((@results.dig('_meta', 'breakdown', event.id, option.value) || 0) / (@results['_meta']['total_votes'] || 1)) * 100.0).round(2) %>%
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>