<%= form_with url: { controller: :votes, action: :create }, local: true do |f| %>
  <table class="table table-borderless">
    <tbody>
      <% @question.group.questions.each do |question| %>
        <tr>
          <td><%= question.description %></td>
        </tr>
        <tr>
          <td>  
            <div class="row">
              <% question.options.each do |option| %>
                <div class="form-check col m-3 ml-0">
                  <%= render 'questions/booth/option', form: f, question: question, option: option %>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.hidden_field :group_id, value: @question.group.id %>
  <% unless @question.draft? %>
    <%= f.submit t('questions.vote'), class: 'btn btn-primary' %>
  <% end %>
<% end %>