<%= form_with scope: :vote, url: { controller: :votes, action: :create }, local: true do |f| %>
  <table class="table table-borderless">
    <tbody>
      <% @question.group.questions.each do |question| %>
        <tr>
          <td><%= question.description %></td>
        </tr>
        <tr>
          <% question.options.each do |option| %>
            <td>
              <div class="form-check form-control-lg m-3 ml-0">
                <%= render 'questions/booth/option', form: f, option: option %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.hidden_field :question_id, value: @question.id %>
  <%= f.hidden_field :group_id, value: @question.group.id %>
  <% unless @question.draft? %>
    <%= f.submit 'Vote', class: 'btn btn-primary' %>
  <% end %>
<% end %>