<% if flash.notice %>
  <% if flash.notice.try(:type) %>
    <div class="alert alert-<%= flash.notice.type %> text-break">
      <%= raw(flash.notice.message)%>
    </div>
  <% else %>
    <div class="alert alert-<%= flash.notice['type'] %> text-break">
      <%= raw(flash.notice['message'])%>
    </div>
  <% end %>
<% end %>
<% if flash.alert %>
  <% if flash.alert.try(:type) %>
    <div class="alert alert-<%= flash.alert.type %> text-break">
      <%= raw(flash.alert.message)%>
    </div>
  <% else %>
    <div class="alert alert-<%= flash.alert['type'] %> text-break">
      <%= raw(flash.alert['message'])%>
    </div>
  <% end %>
<% end %>
