<a class="navbar-brand" href="/"><%= Rails.configuration.x.asembleo.title %></a>
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse mb-2 mb-md-0" id="navbarCollapse">
  <% if @current_user %>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <span class="badge bg-info"><%= @current_user.translated_role %></span>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% Link.all.each do |link| %>
        <li class="nav-item">
          <%= link_to link.name, link.url, class: 'nav-link' %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to t('application.log_out'), session_path('current'), method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  <% else %>
    <ul class="navbar-nav">
      <% Link.all.each do |link| %>
        <li class="nav-item">
          <%= link_to link.name, link.url, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>