<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong id="questions"><%= t('activerecord.models.question', count: 2) %></strong>
    <% if @current_user.admin? %>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <%= link_to t('application.create'), new_consultation_question_path(consultation_id: @consultation.id), class: 'nav-link active btn py-1' %>
        </li>
        <li class="nav-item">
          <%= link_to t('question_groups.action', count: 1), consultation_question_groups_path(consultation_id: @consultation.id), class: 'nav-link link-secondary py-1 px-3 text-decoration-underline' %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="card-body">
    <% if @consultation.questions.empty? %>
    <div class="text-center">
      <%= link_to t('questions.import'), url_for(controller: :questions, action: :import, consultation_id: @consultation.id), class: 'link-secondary py-1 px-3 text-decoration-underline' %>
    </div>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><%= t('activerecord.attributes.question.id') %></th>
          <th scope="col"><%= t('activerecord.models.question', count: 1) %></th>
          <th scope="col"><%= t('activerecord.attributes.question.status') %></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @consultation.questions.order(:id).each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= markdown question.short_description, plain_text: true %></td>
        <td><%= question.status %></td>
        <td><%= link_to t('application.edit'), edit_consultation_question_url(@consultation, question) %></td>
        <% if @consultation.synchronous? %>
        <td><%= question_opener_closer_link(@event, question)  %></td>
        <% elsif @consultation.asynchronous? %>
        <td><%= all_events_question_opener_closer_link(question)  %></td>
        <% end %>
        <% if question.closed? %>
          <td><%= link_to t('questions.question_results'), { controller: :questions, action: :tally, consultation_id: @consultation.id, id: question.id }, class: 'btn btn-link py-0' %></td>
        <% end %>
        <% if question.draft? %>
          <td><%= button_to t('application.delete'),
                  consultation_question_path(@consultation, question),
                  method: :delete,
                  class: 'btn btn-link py-0 link-danger',
                  data: { confirm: t('application.confirm') } %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
</div>