<div class="card mt-3">
  <div class="card-header d-flex justify-content-between">
    <strong>Questions</strong>
    <% if @current_user.admin? %>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to 'Create', new_question_path, class: 'nav-link p-0 text-decoration-underline' %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Question</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      <thead>
      <% @consultation.questions.order(:id).each do |question| %>
      <tr>
        <td><%= question.description %></td>
        <td><%= question.status %></td>
        <td><%= link_to 'Edit', edit_question_url(question)  %></td>
        <% if @consultation.synchronous? %>
        <td><%= question_opener_closer_link(@event, question)  %></td>
        <% elsif @consultation.asynchronous? %>
        <td><%= all_events_question_opener_closer_link(question)  %></td>
        <% end %>
        <% if question.closed? %>
          <td><%= link_to 'Results', { controller: :questions, action: :tally, id: question.id }, class: 'btn btn-link py-0' %></td>
        <% end %>
        <% if question.draft? %>
          <td><%= button_to 'Delete', question_path(question), method: :delete, class: 'btn btn-link py-0 link-danger' %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>