<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="col">
      <strong>Tokens</strong>
    </div>
    <div class="col-auto">
      <%= form_with url: { controller: :events, action: :create_tokens, id: @event.id }, class: 'row row-cols-auto g-1 align-items-center', local: true do |f| %>
        <div class="col">
            <%= f.text_field :value, class: 'form-control form-control-sm' %>
        </div>
        <div class="col">
          <%= f.submit 'Create', class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Add admin', { controller: :events, action: :create_tokens, id: @event.id, role: Token.roles[:admin] }, class: 'btn btn-link btn-sm', method: :post %>
          <%= link_to 'Bulk creation', { controller: :events, action: :new_tokens, id: @event.id }, class: 'btn btn-link btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Token</th>
          <th>Role</th>
          <th></th>
        </tr>
      <thead>
      <% @event.tokens.order(:alias).each do |token| %>
        <tr>
          <td><%= token.alias || token.to_s %></td>
          <td><%= token.role %></td>
          <td><%= token_enabler_disabler_link(token)  %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>