<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= Rails.configuration.x.assemblea.title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <%= render 'navbar' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container my-3">
        <%= render 'flash' %>
        <%= yield %>
      </div>
    </main>
    <% if Rails.configuration.x.assemblea.footer %>
      <footer class="mt-auto py-3 bg-light">
        <div class="container text-muted"><%= Rails.configuration.x.assemblea.footer %></div>
      </footer>
    <% end %>
  </body>
</html>
