<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= Rails.configuration.x.asembleo.title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'theme', :cache => true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-header">
        <div class="container">
          <%= render 'navbar' %>
        </div>
      </nav>
    </header>
    <main role="main" class="h-100">
      <div class="container my-3">
        <%= render 'flash' %>
        <%= yield %>
      </div>
    </main>
    <% if Rails.configuration.x.asembleo.footer %>
      <footer class="mt-auto py-3">
        <div class="container"><%= Rails.configuration.x.asembleo.footer %></div>
      </footer>
    <% end %>
  </body>
</html>
