<!DOCTYPE html>
<html>
  <head>
    <title>Assemblea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main" class="container">
      <h1>Assemblea</h1>
      <%= yield %>
    </main>
  </body>
</html>
